<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <mat-list>
        
        </mat-list>
      </div>
      <div fxFlex="55">
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      
    </div>
  </div>
  <div>
      <p></p>
  </div>
</div>

<mat-toolbar color="primary">
    <a mat-button><span class="fa fa-home fa-lg"></span> How It Works</a>
    <a mat-button><span class="fa fa-info fa-lg"></span> Contact Us</a>
    <a mat-button><span class="fa fa-list fa-lg"></span> FAQs</a>
    <a mat-button><span class="fa fa-address-card fa-lg"></span> Terms & Conditions</a>
    <a mat-button><span class="fa fa-address-card fa-lg"></span> Privacy Policy</a>
    <a mat-button><span class="fa fa-address-card fa-lg"></span> All right received © 2021 Izeetek Solutions</a>
  </mat-toolbar>