.faqs{
    margin: 1%;
    margin-left: 2%;
}

#v1{
    border-left: 4px solid red;
    height: 50px;
    
}

#div1{
    text-align: center;
    background-color: whitesmoke;
    height: 50px;
    width: 550px;
    margin-left: 8%;
    margin-top: 2%;
    font-size: 18px;
    border-left: 4px solid red;
    height: 50px;
    background: whitesmoke;
}
 #p1{
    border-left: 4px solid black;
    height: 50px;
    
}